<h2>🔄 Export Record Updated 🔄</h2>

<p><strong>Updated At:</strong> {{newExportData.updatedAt}}</p>

<h3>Old Export Information</h3>
<p><strong>Description:</strong> {{oldExportData.description}}</p>
{{!-- <p><strong>Created User:</strong> {{oldExportData.user.name}}</p> --}}
<p><strong>Customer:</strong> {{#if oldExportData.customer}}{{oldExportData.customer.fullname}}{{else}}N/A{{/if}}</p>

<table border="1" cellspacing="0" cellpadding="8" style="border-collapse: collapse; width: 100%; margin-bottom: 20px;">
  <thead style="background-color: #f2f2f2;">
    <tr>
      <th>Product Name</th>
      <th>Warehouse</th>
      <th>Quantity</th>
      <th>Selling Price</th>
    </tr>
  </thead>
  <tbody>
    {{#each oldExportData.exportDetails}}
      <tr>
        <td>{{this.product.name}}</td>
        <td>{{this.warehouse.name}}</td>
        <td>{{this.quantity}}</td>
        <td>{{this.sellingPrice}}</td>
      </tr>
    {{/each}}
  </tbody>
</table>


<h3>New Export Information</h3>
<p><strong>Description:</strong> {{newExportData.description}}</p>
{{!-- <p><strong>Updated User:</strong> {{newExportData.user.name}}</p> --}}
<p><strong>Customer:</strong> {{#if newExportData.customer}}{{newExportData.customer.fullname}}{{else}}N/A{{/if}}</p>

<table border="1" cellspacing="0" cellpadding="8" style="border-collapse: collapse; width: 100%;">
  <thead style="background-color: #f2f2f2;">
    <tr>
      <th>Product Name</th>
      <th>Warehouse</th>
      <th>Quantity</th>
      <th>Selling Price</th>
    </tr>
  </thead>
  <tbody>
    {{#each newExportData.exportDetails}}
      <tr>
        <td>{{this.product.name}}</td>
        <td>{{this.warehouse.name}}</td>
        <td>{{this.quantity}}</td>
        <td>{{this.sellingPrice}}</td>
      </tr>
    {{/each}}
  </tbody>
</table>

<p>Warehouse Management System</p>